.red.antoine {
    transform: translate(-100px, -64px) rotate(350deg);
}
.green.antoine {
    transform: translate(9px, -181px) rotate(350deg);
}
.blue.antoine {
    transform: translate(91px, -170px) rotate(125deg);
}
.yellow.antoine {
    transform: translate(-96px, 96px) rotate(215deg);
}
.purple.antoine {
    transform: translate(79px, 173px) rotate(170deg) skew(315deg);
}
.brown.antoine {
    transform: translate(-34px, 139px) rotate(125deg);
}
.orange.antoine {
    transform: translate(-3px, -98px) rotate(125deg);
}