.red.antoine {
    transform: translate(100px, 0px) rotate(180deg);
}
.green.antoine {
    transform: translate(-200px, 0px) rotate(45deg);
}
.blue.antoine {
    transform: translate(170px, -120px) rotate(265deg);
}
.yellow.antoine {
    transform: translate(-50px, 0px) rotate(270deg);
}
.purple.antoine {
    transform: translate(-140px, -150px) rotate(30deg) skew(45deg);
}
.brown.antoine {
    transform: translate(-50px, 160px) rotate(215deg);
}
.orange.antoine {
    transform: translate(160px, 133px) rotate(10deg);
}